@import (reference) '../../style/mixin.less';

.home_container {
  margin-top: 50px;

  .home_nav {
    .flex;
    .wh(100%, 40px);
    line-height: 40px;
    .font(15px, center, 400, rgba(21, 20, 20, 0.726));
    .shadowBottom;
    z-index: 999;
    background: #fff;
    .positionTop(50px);

    .navList {
      color: black;
      padding: 0 8px;
    }

    .activeTab {
      .navList;
      color: @style-color;
      border-bottom: 3px solid @style-color;
    }
  }
}

@color: rgb(133, 131, 131);
.topic_lists {
  margin-top: 90px;
  .loading {
    margin-top: 20px;
  }
  .topic_cell {
    .shadowBottom;
    margin-bottom: 15px;
    .author {
      padding: 10px;
      height: 40px;
      .topic_cell_avatar {
        float: left;
        .wh(40px, 40px);
        .circleImg;
      }
      .name_time {
        float: left;
        .author_name {
          .font(16px, left, 500, black)
        }
        .time {
          .font(14px, left, 400, rgb(133, 131, 131))
        }
      }
      .topic_type {
        float: right;
        font-size: 13px;
        color: @color;
        padding: 2px 4px;
        border: 1px solid @color;
      }
      .isTop {
        .topic_type;
        color: red;
        border: 1px solid red;
      }
      .isGood {
        .topic_type;
        color: yellowgreen;
        border: 1px solid yellowgreen;
      }
    }
    .topic_title {
      margin: 0 25px;
      padding: 10px 0;
      .font(16px, left, 400, black);
      .borderBottom;
      .text-overflow;
    }
    .topic_amount {
      .flex(space-between);
      margin: 0 25px;
      padding: 10px 0;
      .font(14px, left, 400, @color);
      .icon {
        font-size: 20px;
      }
    }
  }
}
