@import (reference) '../../style/mixin.less';

.home_container {
  margin-top: 50px;

  .home_nav {
    .flex;
    .wh(100%, 40px);
    line-height: 40px;
    .font(15px, center, 400, rgba(21, 20, 20, 0.726));
    .shadowBottom;
    z-index: 999;
    background: #fff;
    .positionTop(50px);

    .navList {
      color: black;
      padding: 0 8px;
    }

    .activeTab {
      .navList;
      color: @style-color;
      border-bottom: 3px solid @style-color;
    }
  }
}
