@import (reference) '../../style/mixin.less';
@color: #fff;

.user-container {
  margin-top: 49px;
  .user-info {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background: @color;
    z-index: 99;
    overflow: hidden;
    .borderBottom(#ccc);
    img {
      .wh(100px);
      .circleImg;
      float: left;
      border: 1px solid #ccc;
    }
    div {
      float: right;
      p {
        line-height: 1.6;
        text-align: right;
      }
      .name {
        .font(26px, right, 500, black);
      }
    }
  }
  .user-topic {
    nav {
      .wh(100%, 40px);
      line-height: 40px;
      display: flex;
      background: @color;
      z-index: 99;
      .borderBottom(#ccc);
      p {
        width: 50%;
        text-align: center;
      }
      p:first-child {
        border-right: 1px solid #ccc;
      }
      .active {
        color: @style-color;
        background: #ccc;
      }
    }
    .topic-list {
      .topic-list-cell {
        color: black;
        padding: 10px;
        .borderBottom;
        a {
          color: black;
        }
        header {
          overflow: hidden;
          img {
            .wh(40px);
            .circleImg;
            float: left;
          }
          .name {
            height: 40px;
            line-height: 40px;
            float: left;
          }
          .time {
            .name;
            color: #aaa;
            float: right;
          }
        }
        .title {
          display: block;
          width: 80%;
          margin: 0 auto;
          padding: 5px;
          font-size: 16px;
          .text-overflow;
        }
      }
    }
  }
}