
@import (reference) '../../style/mixin.less';
.header_container {
  .positionTop;
  .wh(100%, 49px);
  line-height: 49px;
  .font(16px, center, 400, black);
  .borderBottom(#ccc);
  background: #fff;
  z-index: 999;
  .item {
    .wh(40px,40px);
    .icon {
      font-size: 22px;
      font-weight: 700;
    }
  }
  .left {
    .item;
    float: left;
  }
  .right {
    .item;
    float: right;
  }
}