@import '../../style/mixin.less';

.footer_container {
  .positionBottom;
  .flex;
  z-index: 999;
  .wh(100%, 49px);
  line-height: 49px;
  background: #fff;
  border-top: 1px solid #eee;
  a {
    color: black;
  }
  .active {
    color: yellowgreen;
  }
}